body
{
    background-image: url('./images/im2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
section  
{
    background-color:#ffffff52;
    padding: 10px;
    margin: 10px;
} 
h1, .ditels{ 
    text-align: center;
}

/* .ditels .submit1{
    width: 288px;
    height: 66px;
    background-color: #d889fa;
} */
/* button{
    display: block;
    margin: auto;
    margin-bottom: 40px;
    background-color: none;
    width: 100px;
    height: 40px;
} */
.content{
    display: flex;
    width: 800px;
    margin: auto;
}
